<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  </head>
  <body>
    <header>

      <nav>
       <%- include('./components/nav') %>
      </nav>

      <% if(message !="" ) { %>
      <section class="message">
        <p><%= message %></p>
        <i id="close-message" class="bi bi-x"></i>
    </section>
      <% } %>

    </header>
    <main>
      <h1>Lista de carros</h1>
      <section class="content">
        <% listaCarros.forEach((carro) => { %>
        <div class="cards">
          <a href="/detalhes"></a>
          <img src="<%= carro.imagem %>" alt="" />
          <h2><%= carro.nome %></h2>
          <a id="editar" href="/getById/<%= carro.id %>/put">Editar</a>
          <a id="deletar" href="/getById/<%= carro.id %>/delete">Excluir</a>
        </div>
        <% }) %>
      </section>
    </main>
    <% if (carroPut !=null) {%>
      <%- include('./components/modalPut') %>
          <% } %>

          <% if (carroDel !=null) {%>
            <%- include('./components/modalDel') %>
                <% } %>

    <script src="/js/script.js"></script>
  </body>
</html>